*{
    margin: 0;
    padding: 0;
}
nav{
    height: 8.5vmin;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.361) ;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #87CEEB;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    width: fit-content;
    align-items: center
}

nav img{
    height: 90%;
}

body{
    background-image: linear-gradient(to right bottom, #63666A,rgb(0, 140, 255));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
 
}
 
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vmin;
}

form{
    width: 45%;
    height: 60%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-sizing: border-box;
    padding-top: 10px;
}

input{
    height: 8vmin;
    width: 90%;
    padding-left: 10px;
    border-radius: 5px;
    border-color: aqua;
}

input:focus{
    outline: none;
    border-width: 3.2px;
}

button{
    color: white;
    font-weight: 800;
    background-color: #87CEEB;
    border: none;
    border-radius: 20px;
    font-size: 1.5em;
    padding: 4% 25%;
    transition: font-size .3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 7px auto;
    cursor: grab;
}

button:active{
    font-size: 1em;
}